/* CUSTOM PROPY */
:root {
    --color-text:#444444;
    --color:#fff;
    --color-link:#dE2e54;
    --black:#000;
    --logo-bg:#222;
    --hero-bg:#0Eb4C1;
    --font:'Open Sans', 'Arial', sans-serif;
    --font-title:'Open Sans Condensed', 'Arial', sans-serif;
}


/* FONTS */
@font-face {
    font-family: 'Open Sans', 'Arial', sans-serif;
    src: url('../fonts/OpenSans-BoldItalic.woff2') format('woff2'),
    url('../fonts/OpenSans-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans', 'Arial', sans-serif;
    src: url('../fonts/OpenSans-Regular.woff2') format('woff2'),
    url('../fonts/OpenSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* CONDESED */
@font-face {
    font-family: 'Open Sans Condensed', 'Arial', sans-serif;
    src: url('../fonts/OpenSansCondensed-Bold.woff2') format('woff2'),
        url('../fonts/OpenSansCondensed-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}


/* GLOBAL-STYLE */
* {
    box-sizing: border-box;
}

html {
    
    height: 100%;
    scroll-behavior: smooth;
}

*,
*::before
*::after {
    box-sizing: inherit;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0;
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--color-text);
    background-color: var(--color);
    font-family: var(--font);
}

*:focus {
    outline-color: red;                             
    outline-offset: 2px;
    outline-width: 3px;
    outline-style: dashed;
}

img {
    max-width: 100%;
    height: auto;
}

/* .visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%); open sans 700 400 condesend 700
    margin: -1px;
} */

.container {
    width: 100%;
    max-width: 1140px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}


/* SITE HEADER */
.site-header {
    padding-top: 24px;
    padding-bottom: 24px;
}

.site-header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}

.site-header__logo {
    display: flex;
    margin-right: 15px;
    color: var(--logo-bg);
    transition: 0.2s ease;
}

.site-header__logo:hover {
    color: var(--color-link);
}

/* SITENAV */
.sitenav__list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sitenav__iteam:not(:last-child) {
    margin-right: 32px;
}

.sitenav__link {
    display: block;
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: var(--logo-bg);
    white-space: nowrap;
    transition: 0.1s ease;
}

.sitenav__link:hover {
    color: var(--color-link);
}


/* MAIN CONTENT */
.main-content {
    flex-grow: 1;
}


/* HERO */
.hero {
    background-color: var(--hero-bg);
    color: var(--color);
}

.hero__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.hero__content {
    width: 500px;
    padding: 120px 0px 120px 0px;
    margin-right: 177px;
}

.hero__heading {
    font-weight: 700;
    font-size: 36px;
    line-height: 120%;
    margin: 0;
    margin-bottom: 16px;
    font-family: var(--font-title);
}

.hero__text {
    width: 440px;
    font-size: 18px;
    margin: 0;
    margin-bottom: 36px;
}

.main-link {
    display: inline-block;
    padding: 12px 24px;
    color: var(--color);
    background-color: var(--color-link);
    font-family: var(--font-title);
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 2px;
    text-transform: uppercase;
    white-space: nowrap;
    transition: 0.1s ease;
    border-radius: 8px;
    border: 2px solid transparent;
}

.main-link:hover {
    border: 2px solid var(--color-link);
    background-color: var(--color);
    color: var(--color-link);
}

.hero__img {
    width: 423px;
    height: 504px;
    object-fit: cover;
    align-self: flex-end;
}


/* FEATURES */
.features {
    padding-top: 120px;
    padding-bottom: 120px;
}

.features__container {
    padding-left: 118px;
    padding-right: 118px;
}

.features__title {
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 120%;
    padding-bottom: 16px;
    color: var(--black);
    font-family: var(--font-title);
    margin: 0;
}
.features__list {
    width: 864px;
    padding: 0;
    margin: 0;
    list-style: none;
}
.features__iteam {
    display: flex;
    align-items: center;
    justify-content: center;
}

.features__iteam {
    width: 864px;
    padding-top: 40px;
    padding-bottom: 40px;
}
.features__img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin-right: 64px;
    box-shadow: 0px 12px 24px -8px rgba(0, 107, 116, 0.3);
    border-radius: 24px;
}

.features__heading {
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    margin: 0;
    margin-bottom: 24px;
    color: var(--logo-bg);
    font-family: var(--font-title);
}

.features__text {
    margin: 0;
}

.features-link__wrapper {
    text-align: center;
}

.features__link {
    margin-top: 20px;
}

/* CALL SECTION */
.call-section {
    background-color: var(--hero-bg);
}

.call-section__container {
    padding-top: 64px;
    padding-bottom: 64px;
    text-align: center;
}

.call-section__title {
    margin: 0;
    font-weight: 700;
    font-size: 36px;
    line-height: 120%;
    margin-bottom: 40px;
    white-space: nowrap;
    color: var(--color);
    font-family: var(--font-title);
}

.call-section__link {
    line-height: 120%;
    background-color: var(--hero-bg);
    border: 2px solid var(--color);
    transition: 0.2s ease;
}

.call-section__link:not(:last-child) {
    margin-right: 40px;
}

.call-section__link:hover {
    background-color: var(--color-link);
    color: var(--color);
}


/* SITE FOOTER */
.site-footer {
    padding-top: 24px;
    padding-bottom: 24px;
    background-color: var(--logo-bg);
}

.site-footer__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}

.site-footer__logo {
    color: var(--color);
    transition: 0.4s ease;
}

.site-footer__logo:hover {
    color: var(--color-link);
}

.sitenav__links {
    color: var(--color);
}